html {
  background: $nws-brand-white;
}
body {
  max-width: 980px;
  margin: auto;
  padding: 15px;
  background: $dr-bg;
  color: white;
}

h3 {
  font-family: dincond-bold;
}

p {
  font-family: roboto;
  font-size: 14px;
}

text {
  font-family: dincond-bold;
}

button {
  font-family: roboto;
  font-size: 16px;
  line-height: 22px;
  i {
    margin-right: 6px;
    color: $dr-green;
  }
}

.hintText {
  color: white;
  i {
    margin-right: 6px;
    color: $dr-green;
  }
}

.app__title {
  font-family: dincond-bold;
  letter-spacing: 1px;
}

.app__title:after {
  background: $dr-green;
  content: " ";
  display: block;
  height: 8px;
  margin: 5px 0 0 0;
  width: 40px;
}
